*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .lado_esquerdo {
    position: relative;
    background: black;
    padding: 40px;
}

.perfil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.perfil .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.perfil .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.perfil h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.informacoes_contato {
    padding-top: 40px;
}

.titulo {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;  
    margin-bottom: 20px;
}

.informacoes_contato ul {
    position: relative;
}

.informacoes_contato ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.informacoes_contato ul li .icone {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #848c99;
}

.informacoes_contato ul li span {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}

.informacoes_contato.formacao li {
    margin-bottom: 15px;
}

.informacoes_contato.formacao h5 {
    color: #848c99;
    font-size: 24px;
    font-weight: 500;
}

.informacoes_contato.formacao h4:nth-child(2)
{
    color: #fff;
    font-weight: 500;
}

.informacoes_contato.formacao h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.informacoes_contato.linguagens .porcentagem {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.informacoes_contato.linguagens .porcentagem div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #848c99;
}

.container .lado_direito {
    position: relative;
    background: #fff;
    padding: 40px;
}

.sobre_mim {
    margin-bottom: 50px;
}

.sobre_mim:last-child {
    margin-bottom: 0;
}

.titulo2 {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: black;
    text-align: center;

}

.sobre_mim .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.sobre_mim .box .ano {
    min-width: 150px;
}

.sobre_mim .box .ano h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.sobre_mim .box .text h4 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
} 

.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .box .porcentagem {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .porcentagem div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #848c99;
}

.interesses ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.interesses ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interesses ul li .fa {
    color: #848c99;
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }

    .interesses ul {
        grid-template-columns: repeat(1,3fr);
    }
}

@media (max-width: 600px) {
    .sobre_mim .box {
        flex-direction: column;
    }

    .sobre_mim .box .ano {
        min-width: 150px;
    }

    .interesses ul {
        grid-template-columns: repeat (1,3fr);
    }

    .skills .box {
        grid-template-columns: repeat(1,1fr);
    }
}
